<div class="form-container">
    <div class="heading">
        <h3>{{ employeeForm.get('id')?.value ? 'Update Employee Details' : 'Add Employee Details' }}</h3>
    </div>
    <form class="form" [formGroup]="employeeForm" (ngSubmit)="submitForm()">
        <div>
            <label for="name">Full Name </label>
            <input type="text" id="name" formControlName="name" placeholder="Enter Full Name">
            <div class="error" *ngIf="employeeForm.get('name')?.touched && employeeForm.get('name')?.invalid">
                Name is required
            </div>
        </div>
        <div>
            <label for="company">Company </label>
            <input type="text" id="company" formControlName="company" placeholder="Enter Company Name">
            <div class="error" *ngIf="employeeForm.get('company')?.touched && employeeForm.get('company')?.invalid">
                Company name is required
            </div>
        </div>
        <div>
            <label for="email">Email </label>
            <input type="email" id="email" formControlName="emailId" placeholder="Enter Valid email">
            <div class="error" *ngIf="employeeForm.get('emailId')?.touched && employeeForm.get('emailId')?.invalid">
                Valid email is required
            </div>
        </div>
        <div>
            <label for="contactNo">Contact</label>
            <input type="text" id="contactNo" formControlName="contactNo" placeholder="Enter Contact Number">
            <div class="error" *ngIf="employeeForm.get('contactNo')?.touched ">
                <div *ngIf="employeeForm.get('contactNo')?.errors?.['required']">Contact is required</div>
                <div *ngIf="employeeForm.get('contactNo')?.errors?.['pattern']">Contact must be 10 digits</div>
            </div>
        </div>
        <div>
            <label for="designation">Designation</label>
            <input type="text" id="designation" formControlName="designation" placeholder="Enter Designation">
            <div class="error"
                *ngIf="employeeForm.get('designation')?.touched && employeeForm.get('designation')?.invalid">
                Designation is required
            </div>
        </div>
        <div class="form-buttons">
            <button class="btn-save" type="submit">{{ employeeForm.get('id')?.value ? 'Update' : 'Add' }}</button>
            <button class="btn-cancel" type="button" (click)="cancel.emit()">Cancel</button>
        </div>

    </form>
</div>